<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webpos.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.webpos.entity.User">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="user_id" jdbcType="VARCHAR" />
		<result column="parent" property="parent" jdbcType="VARCHAR" />
		<result column="balance" property="balance" jdbcType="VARCHAR" />
		<result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
		<result column="id_md5" property="id_md5" jdbcType="VARCHAR" />
		<result column="id_short" property="id_short" jdbcType="VARCHAR" />
		<result column="all_eth" property="all_eth" jdbcType="VARCHAR" />
		<result column="win_rate" property="win_rate" jdbcType="INTEGER" />
		<result column="play_sum" property="play_sum" jdbcType="VARCHAR" />
		<result column="recharge_sum" property="recharge_sum" jdbcType="VARCHAR" />
		<result column="withdraw_sum" property="withdraw_sum" jdbcType="VARCHAR" />
		<result column="child_sum" property="child_sum" jdbcType="INTEGER" />
		<result column="is_machine" property="is_machine" jdbcType="INTEGER" />
		
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id,user_id,parent,balance,ctime,id_md5,id_short,all_eth,win_rate,play_sum,recharge_sum,withdraw_sum,child_sum,is_machine
	</sql>

	<select id="selectByUserId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where user_id = #{user_id,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByParent" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where id_md5 = #{parent,jdbcType=VARCHAR}
	</select>

	<insert id="insert" parameterType="com.webpos.entity.User"
		useGeneratedKeys="true" keyProperty="id">
		insert into user (user_id,parent,balance,ctime,id_md5,id_short,all_eth,play_sum,recharge_sum,withdraw_sum,child_sum,is_machine)

		values ( #{user_id,jdbcType=VARCHAR},
		#{parent,jdbcType=VARCHAR},
		#{balance,jdbcType=VARCHAR},
		#{ctime,jdbcType=TIMESTAMP},#{id_md5,jdbcType=VARCHAR},#{id_short,jdbcType=VARCHAR},#{all_eth,jdbcType=VARCHAR},
		#{play_sum,jdbcType=VARCHAR},#{recharge_sum,jdbcType=VARCHAR},#{withdraw_sum,jdbcType=VARCHAR},#{child_sum,jdbcType=INTEGER},0
		)
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.webpos.entity.User">
		update user
		<set>
			<if test="balance != null">
				balance = #{balance,jdbcType=VARCHAR},
			</if>
			<if test="balance != null">
				all_eth = #{all_eth,jdbcType=VARCHAR},
			</if>
			<if test="win_rate != null">
				win_rate = #{win_rate,jdbcType=VARCHAR},
			</if>
			<if test="play_sum != null">
				play_sum = #{play_sum,jdbcType=VARCHAR},
			</if>
			
			<if test="play_sum != null">
				recharge_sum = #{recharge_sum,jdbcType=VARCHAR},
			</if>
			<if test="play_sum != null">
				withdraw_sum = #{withdraw_sum,jdbcType=VARCHAR},
			</if>
			<if test="child_sum != null">
				child_sum = #{child_sum,jdbcType=INTEGER},
			</if>
			<if test="is_machine != null">
				is_machine = #{is_machine,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.webpos.entity.UserExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<!-- <if test="orderByClause != null"> order by ${orderByClause} </if> -->
		order by ctime desc
	</select>
	
	<select id="selectByExampleWithBLOBs" resultMap="BaseResultMap"
		parameterType="com.webpos.entity.UserExample" >
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByExampleWithBLOBsAndPage" resultMap="BaseResultMap"
		parameterType="com.webpos.entity.UserExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="startRow != null">
			limit #{startRow},#{pageSize}
		</if>
	</select>
	<select id="selectByExampleWithBLOBsAndPageAdmin" resultMap="BaseResultMap"
		parameterType="com.webpos.entity.UserExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="startRow != null">
			limit #{startRow},#{pageSize}
		</if>
	</select>
	
	<select id="countByExample" parameterType="com.webpos.entity.UserExample"
		resultType="java.lang.Integer">
		select count(*) from user
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	
	<select id="summaryUsers" resultType="com.api.vo.contans.SummaryUsers"
		parameterType="com.api.vo.contans.UserQuery">
		select
		count(1) as user_sum,
		sum(balance) as balance_sum,
		sum(withdraw_sum) as withdraw_sum,
		sum(recharge_sum) as recharge_sum,
		sum(child_sum) as share_sum,
		sum(play_sum) as play_sum 
		from
		user
		where 1 = 1 
		<if test="user_id != null and user_id != ''">
			and user_id = #{user_id} 
		</if>
		<if test="parent != null and parent != ''">
			and parent = #{parent} 
		</if>
		<if test="startDate != null and startDate != ''">
		 and ctime >= #{startDate} 
		</if>
		<if test="endDate != null and endDate != ''">
			<![CDATA[  
				 and ctime <= #{endDate} 
			 ]]>
		</if>
		
		
	</select>
</mapper>